*{
    font-family:monospace;
    font-size:35px;
    font-weight:500;
    color:#ffffff;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    height:100vh;
    margin:0;

}

#calculator{
    display:flex;
    background-color:rgb(212, 212, 212);
    flex-direction:column;
    background-color:black;
    width:500px;
    height:850px;
    border-radius:30px;
    
}

#display{
    
    font-size:50px;
    padding:30px;
    flex:.3;
    
    

}

#buttons{
    display:flex;
    flex-direction:column;
    padding:10px;
    flex:1;
}



#main_buttons{
    display:flex;
    flex-direction:row;
    flex:1;
    
}

#column_1,#column_2,#column_3,#column_4{
    display:flex;
    flex-direction:column;
    flex:1;
}


button{
    flex:1;
}

.operator{
    font-size:45px;
    font-weight:bolder;
    color:#5dad3c;
    
}

#clear{
    color:rgb(238, 103, 103)
}

#equal{
    color:#ffffff;
    background-color:#2ead0f;
}

.circle-button{
    border-radius:50%;
    margin:10px;
    background-color:#272626;
    border:none;
    
}

.circle-button:hover{
    background-color:#717070;
}

